@use '../util/' as u;

.feature {
    display: grid;
    gap: u.rem(24);

    &__image {

    }
    &__headline {
        font-size: u.rem(40);
        font-size: var(--font-xl);
        font-weight: 800;
    }
    &__description {

    }
    &__button {
        justify-self: start;
        display: inline-block;
        background-color: var(--color-red);
        color: var(--color-white);
        font-size: u.rem(14);
        letter-spacing: 0.31em;
        font-weight: 700;
        text-transform: uppercase;
        padding: u.rem(12) u.rem(32);
        }
}