@use '../util/' as u;

.header {
    display: flex;  // mobile layout by default
    justify-content: space-between;
    padding-block: u.rem(30);

    @media (width >= u.rem(1110)) {   // desktop layout
        padding-block: u.rem(90) u.rem(55);
    }
&__logo {
        width: u.rem(45);
    @media (width >= u.rem(1110)) {   // desktop layout
        width: u.rem(64);
    }
}
&__links {
    display: flex;  // destop layout by default
    gap: u.rem(40);

    @media (width < u.rem(1110)) {   // mobile layout
        flex-direction: column;
        gap: u.rem(24);
    }
}
&__link {
    color: var(--color-blue);
    font-size: u.rem(18);
    line-height: 1.3;

    @media (width >= u.rem(1110)) {   // desktop layout
        font-size: var(--font-body);
        color: var(--color-grey);
    }
    &:hover {
        color: var(--color-red);
    }
}
}

